@font-face {
  font-family: "Graphik LC Web";
  src: url("/fonts/graphiklcweb_medium.ttf");
}
body {
  font-family: "Graphik LC Web";
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  top: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../img/header.png);
  background-size: cover;
  min-width: 1440px;
  height: 548px;
  color: #ffffff;
  padding: 0 50px;
  box-sizing: border-box;
  transition: 0.5s;
}

.top-bar {
  position: fixed;
  color: #FDFDFD;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 50px 0 50px;
  margin-left: -50px;
  z-index: 1000;
  width: 100%;
}
.top-bar__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  margin-right: 22px;
}
.top-bar__logo::before {
  content: url(../icon/logo.svg);
  padding-right: 10px;
}
.top-bar__menu {
  display: inline-flex;
  align-items: center;
}
.top-bar__menu__element {
  margin-right: 42px;
  position: relative;
  background: none;
  border: none;
  color: #FDFDFD;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-family: "Graphik L	C Web";
}
.top-bar__menu__element::after {
  position: absolute;
  display: inline-block;
  content: url(../icon/arrow.svg);
  padding-left: 10px;
}
.top-bar__menu__element_activ::after {
  transform: rotate(180deg);
  padding-right: 10px;
}
.top-bar__menu__link {
  color: #FDFDFD;
  margin-right: 22px;
}
.top-bar__menu__find {
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.top-bar__menu__find__icon {
  position: absolute;
  content: url(../icon/find.svg);
  transition: 0.5s;
  left: 0;
}
.top-bar__menu__find__input {
  font-size: 18px;
  max-width: 100px;
  opacity: 0;
  background-color: #FFFFFF;
  border-radius: 25px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  padding: 14px 20px;
  outline: none;
  transition: 0.3s;
}
.top-bar__menu__find:focus-within .top-bar__menu__find__icon {
  left: 100px;
}
.top-bar__menu__find:focus-within .top-bar__menu__find__input {
  opacity: 1;
}
.top-bar__buttons__test {
  background: none;
  color: #ffffff;
  border: 2px solid #DF0050;
  border-radius: 25px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 18px;
  margin-right: 15px;
}
.top-bar__buttons__buy {
  background-color: #FFFFFF;
  border-radius: 25px;
  border-width: 0;
  font-size: 18px;
  line-height: 18px;
  padding: 14px 20px;
  color: #49301D;
}
.top-bar__menu-link-list {
  display: none;
  background-color: #FDFDFD;
  width: 100%;
  margin-left: -50px;
  padding: 80px 50px 0 50px;
}
.top-bar__menu-link-list_activ {
  display: flex;
  flex-wrap: wrap;
}
.top-bar__menu-link-list__element {
  margin-bottom: 50px;
  width: 450px;
  color: #252627;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.top-bar_activ {
  background-color: #FDFDFD;
  box-shadow: 0 2px 10px #FDFDFD;
}
.top-bar_activ .top-bar__logo {
  color: #1E5AAF;
}
.top-bar_activ .top-bar__logo::before {
  content: url(../icon/logo-blue.svg);
}
.top-bar_activ .top-bar__menu__element {
  color: #252627;
}
.top-bar_activ .top-bar__menu__element::after {
  content: url(../icon/arrow-top-bar-gray.svg);
}
.top-bar_activ .top-bar__menu__link {
  color: #252627;
}
.top-bar_activ .top-bar__menu__find__icon {
  content: url(../icon/find-gray.svg);
}
.top-bar_activ .top-bar__menu__find__input {
  background-color: #f3f3f3;
  border-color: #dbdbdb;
}
.top-bar_activ .top-bar__buttons__test {
  color: #DF0050;
}
.top-bar_activ .top-bar__buttons__buy {
  background-color: #0F57BE;
  color: #FDFDFD;
}

.title {
  font-weight: 500;
  font-size: 80px;
  line-height: 110%;
  padding-top: 250px;
  margin: 0;
}

.link-arrow {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  position: relative;
  color: #FDFDFD;
}
.link-arrow::after {
  position: absolute;
  right: -20px;
  top: 2px;
  padding-left: 15px;
  content: url(../icon/arrow-link.svg);
}

.body {
  max-width: 1340px;
  padding: 0 50px;
  margin: auto;
  overflow: hidden;
}

.link-list {
  margin-top: 50px;
  margin-left: -45px;
  display: flex;
  flex-wrap: wrap;
}
.link-list__element {
  display: inline-flex;
  align-items: center;
  width: 416px;
  margin-left: 45px;
  height: 68px;
  border-top: 1px #DADCE7 solid;
  color: #252627;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  position: relative;
}
.link-list__element::after {
  position: absolute;
  content: url(../icon/arrow-link-list.svg);
  right: 10px;
}

.info {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #797A84;
  max-width: 650px;
  margin-top: 120px;
}
.info__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #1E5AAF;
}

.card-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 120px;
}
.card-list__element {
  box-shadow: 0 -250px 200px 150px #1E5AAF inset, 0 250px 400px 150px #0F3974 inset, 0px 0px 10px rgba(6, 31, 67, 0.3);
  border-radius: 5px;
  width: 22%;
  min-height: 413px;
  box-sizing: border-box;
  padding: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(253, 253, 253, 0.5);
  position: relative;
  transition: all 0.5s;
}
.card-list__element::before {
  position: absolute;
  content: url(../icon/arrow-card-list.svg);
  bottom: 40px;
  right: 30px;
}
.card-list__element:hover {
  box-shadow: 0 -150px 200px 0px #1E5AAF inset, 0 400px 200px 100px #0F3974 inset, 0px 0px 10px rgba(6, 31, 67, 0.3);
}
.card-list__element__card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
}

.arrow__button {
  width: 13px;
  height: 24px;
  border: none;
  background: none;
  margin-bottom: 35px;
}

.button-left {
  background: url(../icon/arrow-button-left.svg) no-repeat;
}

.button-right {
  background: url(../icon/arrow-button-right.svg) no-repeat;
  margin-left: 50px;
}

.slider {
  margin-top: 100px;
}
.slider__element {
  display: flex !important;
  border-radius: 5px;
}
.slider__element__container {
  box-shadow: 0 -250px 200px 150px #1E5AAF inset, 0 250px 400px 150px #0F3974 inset, 0px 0px 10px rgba(6, 31, 67, 0.3);
  transition: all 0.5s;
  flex-direction: column;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #FDFDFD;
  padding: 45px 80px 0 45px;
  border-radius: 0 5px 5px 0;
}
.slider__element__container:hover {
  box-shadow: 0 -150px 200px 0px #1E5AAF inset, 0 400px 200px 100px #0F3974 inset, 0px 0px 10px rgba(6, 31, 67, 0.3);
}
.slider__element__container__time {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #8EA9D0;
  margin-bottom: 40px;
}

.slider-opinion {
  margin-top: 133px;
  position: relative;
}
.slider-opinion__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 40px;
  color: #252627;
}
.slider-opinion__link {
  position: absolute;
  right: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #1E5AAF;
}
.slider-opinion__container {
  display: flex;
  flex-wrap: nowrap;
}
.slider-opinion__container__element {
  box-shadow: 0 -250px 200px 150px #1E5AAF inset, 0 250px 400px 150px #0F3974 inset, 0px 0px 10px rgba(6, 31, 67, 0.3);
  border-radius: 5px;
  width: 879px;
  height: 575px !important;
  margin-right: 44px;
  padding: 61px 120px 0 110px;
  position: relative;
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  color: #9FB7DB;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: all 0.5s;
}
.slider-opinion__container__element:hover {
  box-shadow: 0 -150px 200px 0px #1E5AAF inset, 0 400px 200px 100px #0F3974 inset, 0px 0px 10px rgba(6, 31, 67, 0.3);
}
.slider-opinion__container__element__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.slider-opinion__container__element__photo {
  position: absolute;
  top: 61px;
  right: 99px;
  border-radius: 100%;
}
.slider-opinion__container__element__annotation {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #557EB8;
  width: 450px;
}
.slider-opinion__container__element__video-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  position: relative;
}
.slider-opinion__container__element__video-link::after {
  content: url(../icon/arrow-opinion.svg);
  position: absolute;
  top: 0;
  right: -511px;
}

.futer {
  margin-top: 120px;
  height: 218px;
  background: #051A2C;
  padding: 47px 50px 50px 44px;
  box-sizing: border-box;
}
.futer__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FDFDFD;
}
.futer__bar {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.futer__bar__left {
  color: #8C8D98;
  margin-right: 40px;
}
.futer__bar__right {
  color: #8C8D98;
  margin-left: 214px;
}